* {
	padding: 0px;
	margin: 0px;
}

html {
	background-color: #373b78;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto; 
    padding-top: 30px;
    align-items: flex-end;
}

.logo {
	font-family: 'Mr Dafoe', 'Arial', 'Helvetica', sans-serif;
	font-size: 2.5em;
	color: #edae00;
	text-decoration: none;
}

.links {
    padding-bottom: 10px;
    padding-left: 30px;
}

.main {
	background-color: #bec1ed;
	max-width: 650px;
	margin: auto;
	font-size: 0.8em;
	padding: 30px;
	line-height: 1.3;
	font-family: 'Arial', 'Helvetica', sans-serif;
  	margin-bottom: 40px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	font-style: italic;
}

p {
	font-size: 1.05em;
}

.blog-button {
	max-width: 445px;
	height: 125px;
	border: 1px solid #585fcc;
}

.blog-button:hover {
	border: 1px solid #edae00;
}

.blog-button-img-space {
	float: left;
	width: 30%;
	height: 100%;
}

.blog-button-img-space img {
	height: 125px;
	width: 100%;
}

.blog-button-text {
	float: left;
	width: 67%;
	height: 97%;
	margin-left: 1.5%;	
	margin-top: 1.5%;
	overflow: hidden;
	color: black;
}